<!--
Name: Shanie Portal
Date: 11/03/2024
Assignment: Module 10: Basic Flask Website
Due Date: 11/03/2024
About this project: Develop the database for a small scale real-world applications using third-party Python libraries
discussed in the course.
All work below was performed by Shanie Portal
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content = "text/html; charset=windows-1252">
</head>
<body>

    <table border = "1">
      <thead>
            <tr><td> Name</td>
            <td> Age </td>
            <td> Phone Number </td>
            <td> Security Level </td>
            <td> Password </td>
        </tr></thead>
            <tbody>
            {% for row in rows %}
            <tr>
                <td> {{row["Name"]}}</td>
                <td> {{row["Age"]}}</td>
                <td> {{row["PhNuM"]}}</td>
                <td> {{row["SecurityLevel"]}}</td>
                <td> {{row["LoginPassword"]}}</td>
            </tr>
    {% endfor %}
            </tbody>
    </table>
    <h2> <a href = "/"> back to home </a></h2>
</body>
</html>